<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.planitary.atplatform.mapper.ATPlatformCaseSetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.planitary.atplatform.model.po.ATPlatformCaseSet">
        <id column="id" property="id"/>
        <result column="set_id" property="setId"/>
        <result column="set_name" property="setName"/>
        <result column="interface_ids" property="interfaceIds"/>
        <result column="set_weight" property="setWeight"/>
        <result column="parameter_list" property="parameterList"/>
        <result column="is_delete" property="isDelete"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="remark" property="remark"/>
        <result column="project_id" property="projectId"/>
        <result column="owner" property="owner"/>
    </resultMap>

    <!-- 附带project结果的DTO-->
    <resultMap id="caseSetWithProject" type="com.planitary.atplatform.model.dto.CaseSetWithProjectDTO">
        <id column="id" property="id"/>
        <result column="set_id" property="setId"/>
        <result column="set_name" property="setName"/>
        <result column="interface_ids" property="interfaceIds"/>
        <result column="set_weight" property="setWeight"/>
        <result column="parameter_list" property="parameterList"/>
        <result column="is_delete" property="isDelete"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="remark" property="remark"/>
        <result column="project_id" property="projectId"/>
        <result column="owner" property="owner"/>
        <result column="project_name" property="projectName"/>
        <result column="project_url" property="projectUrl"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, set_id, set_name, interface_ids, owner,set_weight,project_id, parameter_list, is_delete,create_time,create_user,update_time,update_user,remark
    </sql>


    <select id="getCaseSetList" resultMap="caseSetWithProject"
            parameterType="com.planitary.atplatform.model.dto.QueryCaseSetListDTO">
        select c.*,p.project_name,p.project_url from at_platform_test_case_set c
        left join at_platform_project p on c.project_id = p.project_id
        <where>
            <!--集合名称(模糊)-->
            <if test="queryParam.setName != null and queryParam.setName != ''">
                and c.set_name like concat ('%',#{queryParam.setName},'%')
            </if>
            <!--集合所含接口ids(模糊 )-->
            <if test="queryParam.interfaceIds != null and !queryParam.interfaceIds.isEmpty()">
                and
                <foreach collection="queryParam.interfaceIds" item="interfaceId" separator="AND">
                    c.interface_ids like concat ('%',#{interfaceId},'%')
                </foreach>
            </if>

            <!-- projectId-->
            <if test="queryParam.projectId != null and queryParam.projectId != ''">
                and c.project_id = #{queryParam.projectId}
            </if>
            and c.is_delete = 0

            order by c.update_time desc
        </where>
    </select>

</mapper>